.splash-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(56, 113, 192, 0.7);
    min-height: 100vh;
}

.header {
    margin-bottom: 40px;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.tagline {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.learn-more {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.learn-more:hover {
    background-color: #0056b3;
}

.feature-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.feature {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

/* .feature-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
} */

.feature-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature-description {
    font-size: 1rem;
    color: #666;
}
